<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<!-- TODO put session timeout? where does JSF view scope grab it's timeout 
		from? -->

	<!-- TODO How do I get rid of this web.xml because right now this is throwing 
		a could not find backup factory exception when not adding this entry(Even 
		thought it's a different servlet name(It has a space)) -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>

	<!-- Activates the waitcursor and the double-click protection -->
	<context-param>
		<param-name>net.bootsfaces.blockUI</param-name>
		<param-value>true</param-value>
	</context-param>
</web-app>

